In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/data_preprocessed.csv")

In [16]:
type(df.Ticker.unique())

numpy.ndarray

In [5]:
def find_data(Ticker):
    """
    这是一个根据用户输入的Ticker，返回该公司对应的数据
    input:
        Ticker(str):公司名称

    output:
        pd.Series:根据Ticker返回对应的行数据
        str:如果Ticker没有找到则返回提示信息

    """
    try:
        df_standardized = pd.read_csv("../data/data_preprocessed.csv", index_col="Ticker")
        result = df_standardized.loc[Ticker]
        result = pd.DataFrame(result)
        return result
    except KeyError:
        return f"Ticker '{Ticker}' not found in the DataFrame."

In [6]:
find_data("AAPL")

"Ticker 'AAPL' not found in the DataFrame."

In [8]:
df_standardized = pd.read_csv("../data/data_preprocessed.csv", index_col="Ticker")

In [13]:
df_standardized.loc["AAL"]

Year                                     2023.000000
Beta                                        0.303244
Current Assets                             -0.005766
Cash And Cash Equivalents                  -0.033315
Current Liabilities                         0.010592
                                            ...
industry_Utilities—Regulated Electric       0.000000
industry_Utilities—Regulated Gas            0.000000
industry_Utilities—Regulated Water          0.000000
industry_Utilities—Renewable                0.000000
industry_Waste Management                   0.000000
Name: AAL, Length: 210, dtype: float64

In [12]:
df.query("""Ticker == 'AAL'""")

,Ticker,Year,Beta,Current Assets,Cash And Cash Equivalents,Current Liabilities,Total Liabilities Net Minority Interest,Depreciation And Amortization,Capital Expenditure,Net Income,...,industry_Utilities - Diversified,industry_Utilities - Regulated Water,industry_Utilities - Renewable,industry_Utilities—Diversified,industry_Utilities—Independent Power Producers,industry_Utilities—Regulated Electric,industry_Utilities—Regulated Gas,industry_Utilities—Regulated Water,industry_Utilities—Renewable,industry_Waste Management
2,AAL,2023,0.303244,-0.005766,-0.033315,0.010592,0.039089,-0.021735,0.019558,0.026116,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0